.tabulation {
    margin-left: 2em;
}

.text-link {
    color: #6cc2ff;
    text-decoration: none;
}

.text-link:hover {
    text-decoration: underline;
}

.text-link:visited {
    color: #6cc2ff;
}

.text-center {
    user-select: none;
    pointer-events: none;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% + 16px);
    height: 100%;
    background-color: transparent;
}

.text-center-normal {
    user-select: none;
    pointer-events: none;
    position: fixed;
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.scroll-to-explore {
    user-select: none;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    opacity: 1;
    transition: opacity 0.2s ease-out;
    transform: translateY(6vh);
}

.hidden {
    display: none;
    opacity: 0;
}

.mouse-scroll {
    text-align: center;
    position: fixed;
}

.scroll-mouse {
    width: 30px;
    height: 50px;
    border: 4px solid white;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    display: inline-block;
}

.scroll-wheel {
    width: 4px;
    height: 6px;
    border: 2px solid white;
    background-color: white;
    border-radius: 60px;
    display: inline-block;
    animation: wheelAnimation 1s infinite alternate;
}

.scroll-text {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    color: white;
}

@keyframes wheelAnimation {
    from {
        transform: translateY(-4px);
    }
    to {
        transform: translateY(6px);
    }
}

#projectOverviewText {
    position: absolute;
    opacity: 0;
    color: white;
    line-height: 36px;
    transition: opacity 0.4s;
    transform: translateY(50vh);
}

#project-overview-wrapper {
    display: inline-block;
    text-align: center;
}

#projectOverviewTitle {
    font-size: 32px;
    font-weight: bold;
}

#projectOverviewYear {
    font-size: 26px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 42, 42, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.loading-progress {
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 0 4px;
    height: 6%;
    width: 60%;
}
  
.loading-value {
    box-shadow: 0 10px 40px -10px #FFFFFF;
    border-radius: 100px;
    background: #FFFFFF;
    height: 80%;
    width: 4%;
    transition: width 0.2s ease;
}

.loading-text {
    user-select: none;
    pointer-events: none;
    margin-top: 20px;
    font-size: 26px;
    color: white;
    font-weight: bold;
}

.loading-notice {
    position: absolute;
    bottom: 6%;
    color: red;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
}

.menu {
    position: fixed;
    top: 10px;
    right: 12px;
}
  
.menu-clickable {
    user-select: none;
    margin: 4px;
    cursor: pointer;
    color: white;
    text-align: right;
    opacity: 0.72;
    font-weight: bold;
    font-size: 20px;
    transition: opacity 0.2s;
}

.menu-clickable:hover {
    opacity: 1;
}

.social-icons {
    user-select: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.social-icons a {
    margin: 0 12px;
    text-decoration: none;
    color: #FFFFFF;
    transition: opacity 0.2s;
}

.social-icons svg,
.social-icons img {
    width: 26px;
    height: 26px;
    opacity: 0.72;
    transition: opacity 0.2s;
}

.social-icons svg:hover,
.social-icons img:hover {
    opacity: 1;
}

:root {
    --dark-bg: rgba(42, 42, 42, 0.92);
    --spacing: 30%;
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#aboutSection {
    user-select: none;
    position: absolute;
    display: flex;
    margin-bottom: var(--spacing);
    /* height: 100vh; */
}

#aboutSectionContent {
    padding: 1rem;
    font-size: 1.26rem;
    line-height: 1.4;
    margin-bottom: var(--spacing);
    justify-content: center;
    align-items: center;
    width: 56%;
    min-width: 56%;
    max-width: 56%;
}

main {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
section {
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.26rem;
    line-height: 1.4;
    margin-bottom: var(--spacing);
    width: 60%;
    min-width: 60%;
    max-width: 60%;
}

h2 {
    margin-top: 2px;
    margin-bottom: 10px;
}

img {
    user-select: none;
    width: 100%;
    max-width: 100%;
    height: auto;
}

video {
    user-select: none;
    width: 100%;
    max-width: 100%;
    height: auto;
}

p {
    text-align: justify;
}

.p-padding-small {
    padding-left: 4px;
    padding-right: 4px;
}

.p-padding-mid {
    padding-left: 4px;
    padding-right: 4px;
}

.p-padding-big {
    padding-left: 16px;
    padding-right: 16px;
}

.close-button {
    position: fixed;
    top: 16px;
    right: 19.2%;
    background-color: #FF5733;
    color: #FFFFFF;
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.close-button:hover {
    background-color: #D64519;
}

.cross {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.button-link {
    user-select: none;
    display: inline-block;
    padding: 6px 20px;
    background-color: #0074d9;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
}
  
.button-link:hover {
    background-color: #0056a9;
}

.el-center-img {
    user-select: none;
    text-align: center;
}

.el-center {
    text-align: center;
}

.el-center .src-img-vertical {
    height: auto;
    margin: 8 auto;
}

.el-center .src-img-horizontal {
    height: auto;
    margin: 8 auto;
}

.el-center-button {
    user-select: none;
    text-align: center;
}

.progress {
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 0 2.6px;
    height: 10px;
    width: 12%;
}
  
.progress-value {
    animation: load 0.2s normal forwards;
    box-shadow: 0 10px 40px -10px #FFFFFF;
    border-radius: 100px;
    background: #FFFFFF;
    height: 6px;
    width: 6%;
}

.progress-info-text {
    user-select: none;
    pointer-events: none;
    color: white;
    position: fixed;
    top: 10px;
    left: 12px;
    margin-top: 12px;
    font-weight: bold;
}

.equalizer {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 6%;
    height: 6%;
    transform: rotate(180deg);
    opacity: 0.72;
    transition: opacity 0.2s;
}

.equalizer:hover {
    opacity: 1;
}

.equalizer-line {
    transition: transform 0.1s ease-in-out;
}

.button-up,
.button-down {
    position: fixed;
    right: 10px;
    background-color: #eb370a;
    color: white;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.button-up {
    top: calc(50% - 60px);
}

.button-down {
    bottom: calc(50% - 60px);
}

.button-up:hover,
.button-down:hover {
    background-color: #1482cc;
}

.button-up::before {
    content: '\2191';
}

.button-down::before {
    content: '\2193';
}

.rotate-container {
    position: fixed;
    background: rgba(42, 42, 42, 1);
    top: -16px;
    left: -16px;
    width: calc(100vw + 16px);
    height: calc(100vh + 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phone {
    height: 50px;
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    animation: rotate 1.5s ease-in-out infinite alternate;
}

.message {
    color: white;
    font-size: 1em;
    margin-top: 40px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(-90deg)
    }
    100% {
        transform: rotate(-90deg)
    }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
    .phone, .message {
        display: block;
    }
}
